<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add to my wishlist</title>
</head>
<body>
        <a href="/main">Home</a>

            <br><br>
            
        <a href="/logout">Logout</a>
    
        <h3>Create a New Wish List Item</h3>
        <form action="/add" method="post">
            {% csrf_token %}
            Item/Product: <input type="text" name = "label">
            <!-- Added by  <input type="text" name = "album">
            Date Added <input type="text" name = "label"> -->
            <input type="submit" value = "Add">
        </form>
    
</body>
</html>